@model IEnumerable<ShishaBuilder.Core.Models.Master>

<h2>@ViewData["Title"]</h2>

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>@(ViewBag.ShowDeleted == true ? "Deleted Masters" : "All Tobaccos")</h2>

    @if (ViewBag.ShowDeleted == true)
    {
        <a asp-action="AllMasters" class="btn btn-outline-primary">
            Show Active
        </a>
    }
    else
    {
        <a asp-action="DeletedMasters" class="btn btn-outline-secondary">
            Show Deleted
        </a>
    }
</div>

<div class="row">
    @foreach (var master in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <img src="@master.PhotoUrl" class="card-img-top" alt="@master.FirstName" style="height: 300px; object-fit: cover;" />
                <div class="card-body">
                    <h5 class="card-title">@master.FirstName @master.LastName</h5>
                    <p class="card-text text-dark">@master.PhoneNumber</p>
                    <p class="card-text text-muted">Master</p>
                    
                    @if(ViewBag.ShowDeleted!=true)
                    {
                        <div class="d-flex justify-content-between">
                            <!-- Edit button -->
                            <a asp-action="Edit" asp-routze-id="@master.Id" class="btn btn-warning btn-sm">Edit</a>

                            <!-- Soft delete button -->
                            <form asp-action="SoftDelete" method="post" asp-route-id="@master.Id" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
